/* link to google fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

/* remove default styles */

*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
}

/* header, logo and navbar */

header{
    width:100%;
    height:80px;
    background-color: #5c6956;
    position:fixed;
    top:0;
}

#logo{
    font-weight:300;
    color:#f9f9eb;
    font-size:50px;
    letter-spacing: 2px;
    margin:10px 0 0 20px;
    width:80%;
    font-family:special elite, sans-serif;
    line-height: 80px;
}

/* hamburger menu for small screens
 ( instructions and ideas on how to create a hamburger menu were taken from https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/ ) */

 .burger-menu a {
    box-sizing: border-box;
    display: block;
    width:100%;
    color:#101010;
    text-align:center;
    font-size:25px;
    letter-spacing: 2px;
    margin: 10px 0 10px 0;
 }

 #menu{
    height:250px;
 }

 #menu label{
    display:inline-block;
    color:#f9f9eb;
    font-size:150%;
    padding:10px;
    position:absolute;
    right:20px;
    top:10px;
 }

 #burger{
    float:right;
    display:none;
 }

 .burger-menu{
    display:none;
    background-color:#5c6956;
    height:100%;
 }

 #menu input:checked ~ .burger-menu { 
    display: block; 
}

