/* link to google fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

/* remove default styles */

* {
   margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none;
   list-style-type: none;
}

/* general styles */

body {
   background-color: #f9f9eb;
   font-family: merriweather, sans serif;
}

h2,
h3 {
   font-family: special elite, sans-serif;
   font-weight: 100;
   letter-spacing: 2px;
}

/* header, logo and navbar */

header {
   width: 100%;
   background-color: #5c6956;
   position: fixed;
   top: 0;
   z-index: 10;
}

#logo {
   font-weight: 300;
   color: #f9f9eb;
   font-size: 50px;
   letter-spacing: 2px;
   margin: 10px 0 0 20px;
   width: 80%;
   font-family: special elite, sans-serif;
   line-height: 60px;
}

/* hamburger menu for small screens
 ( instructions and ideas on how to create a hamburger menu were taken from https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/ ) */

.burger-menu a {
   box-sizing: border-box;
   display: block;
   width: 100%;
   color: #f9f9eb;
   text-align: center;
   font-size: 25px;
   letter-spacing: 2px;
   margin-top: 40px;
   margin-bottom: 40px;
   margin-right: 40px;
}

#menu label {
   display: inline-block;
   color: #f9f9eb;
   font-size: 200%;
   padding: 10px;
   position: absolute;
   right: 20px;
   top: 10px;
}

#burger {
   float: right;
   display: none;
}

.burger-menu {
   display: none;
   background-color: #5c6956;
   height: 100%;
}

#menu input:checked~.burger-menu {
   display: block;
}

#large-nav {
   display: none;
}

/* about us section */

.about-section {
   margin-top: 70px;
}

#hero-image {
   height: 400px;
   width: 100%;
   background: url("../images/hero-image.jpg") no-repeat center center;
   background-size: cover;
   position: relative;
}

#about-us {
   width: 90%;
   position: absolute;
   left: 20px;
   margin-top: 40px;
}

#about-us h2 {
   color: #f9f9eb;
   padding: 10px;
   font-size: 35px;
}

#cover-color {
   background-color: rgba(0, 0, 0, 0.5);
   width: inherit;
   height: inherit;
   margin-top: 70px;
}

#about-us p {
   color: #f9f9eb;
   letter-spacing: 2px;
   font-size: 1.1rem;
}

/* middle section */

.info {
   text-align: center;
   padding: 40px 40px 0 40px;
}

.info h2 {
   margin: 0 auto 20px auto;
   font-size: 35px;
   border-bottom: 2px solid #101010;
   padding: 5px 10px 0 10px;
   width:fit-content;
}

.info p {
   font-size: 1.3rem;
   color: #101010;
}

#rhino-middle {
   width: 100%;
   background-size: cover;
   margin-top: 40px;
}

.info a {
   color: #101010;
   letter-spacing: 2px;
   font-family: merriweather, sans serif;
   padding: 5px;
   border-radius: 100px;
   text-decoration: underline;
   display: inline-block;
}

.info a:hover {
   background-color: #5c6956;
   color: #f9f9eb;
}

/* how you can help section */

.info h3 {
   font-size: 24px;
   padding: 30px;
}

/* topic section for help out page */

.topic-section {
   background: url("../images/topic-section-background.jpg") no-repeat center center;
   background-size: cover;
   height: 250px;
}

.topic {
   text-align: center;
   padding: 40px 20px;
}

.topic h2 {
   font-size: 50px;
   border-bottom: 2px solid #5c6956;
   color: #f9f9eb;
}

.topic p {
   font-size: 1.3rem;
   padding-top: 10px;
   color: #f9f9eb;
}

.topic-backing {
   background-color: rgba(0, 0, 0, 0.5);
   height: inherit;
}

#help-nav li {
   display: inline-block;
   width: 33%;
   text-align: center;
   float: left;
}

#help-nav a {
   color: #f9f9eb;
   font-size: 50px;
}

#help-nav a:hover {
   color: #5c6956;
   font-size: 75px;
}

/* options section for help out page */

.help-way a {
   padding: 5px 20px 5px 20px;
   border-radius: 100px;
   width: 230px;
}

.help-way li {
   margin: 20px auto;
}

/* gallery */

#gallery-pics {
   background-color: #8E815C;
   margin: 70px 0 -30px 0;
}

#gallery-pics img {
   width: 95%;
   padding: 2.5% 2.5% 0 2.5%;
}

/* contact page */

#contact {
   background: url("../images/rhino-hind.jpg") no-repeat center center;
   background-size: cover;
   height:40em;
   margin: 70px 0 -30px 0;
   position: relative;
}

#form-backing {
   background-color: rgba(249, 249, 235, 0.5);
   text-align: center;
   width: 80%;
   max-width:600px;
   height: fit-content;
   border: 2px solid #101010;
   position: absolute;
   top: 5%;
   left: 10%;
   bottom: 20%;
}

#contact-form>h2 {
   margin: 20px 0 20px 0;
   font-size: 40px;
}

#contact-form>label {
   font-size: 1.1rem;
}

.input {
   display: block;
   width: 80%;
   height: 25px;
   margin: 0 auto;
   border: 1px solid #101010;
   margin-top: 10px;
   margin-bottom: 10px;
}

.submit {
   width: 100px;
   height: 30px;
   margin: 20px;
   background-color: #5c6956;
   border: 2px solid #8E815C;
   border-radius: 10px;
}

#message-box {
   width: 80%;
   margin: 0 auto;
   display: block;
}

textarea {
   resize: none;
   font-family: inherit;
   font-size:inherit;
   text-indent: 10px;
}

/* form sent page */

#form-sent-message{
   background: url("../images/rhino-hind.jpg") no-repeat center center;
   background-size: cover;
   height:100vh;
   margin: 70px 0 -30px 0;
   position: relative;
}

#message-container{
   text-align: center;
   position: absolute;
   top:20%;
   left:10%;
   right:10%;
   background-color: rgba(249, 249, 235, 0.5);
   padding:20px;
   border: 2px solid #101010;
}

#form-sent-message h2{
   margin: 20px 0 20px 0;
   font-size: 40px;
   color:#101010;
}

#form-sent-message p{
   color:#101010;
   font-size: 20px;
}

/* footer with social links */

footer {
   width: 100%;
   background-color: #5c6956;
   margin-top: 30px;
}

#social-links {
   text-align: center;
   padding: 20px;
}

#social-links li {
   font-size: 40px;
   display: inline;
}

#social-links a {
   color: #f9f9eb;
   margin: 4%;
}

/*  media queries */

/* for very small screens of 375px and below */

@media screen and (max-width:375px) {

   #about-us p {
      font-size: 1rem;
   }

   #logo {
      font-size:30px;
   }

   #form-sent-message h2{
      font-size: 25px;
   }
}

/* for medium to large screens */

@media screen and (min-width:720px) {

   #large-nav {
      display: block;
   }

   #navbar {
      font-size: 25px;
      height: 50px;
      background-color: #5c6956;
      margin-top: 20px;
   }

   #navbar li {
      float: left;
      list-style-type: none;
      margin-left: 40px;
      color: ivory;
   }

   #navbar a {
      color: #f9f9eb;
   }

   #menu {
      display: none;
   }

   #logo {
      margin-top: 20px;
   }

   /* about us section resposiveness for medium screens */

   .about-section {
      margin-top: 150px;
   }

   #hero-image {
      height: 550px;
      width: 100%;
      background: url("../images/hero-image.jpg") no-repeat center center;
      background-size: cover;
      position: relative;
   }

   #about-us {
      width: 40%;
   }

   #about-us h2 {
      color: #f9f9eb;
      padding: 10px;
      font-size: 35px;
   }

   #cover-color {
      background-color: rgba(0, 0, 0, 0.2);
      width: inherit;
      height: inherit;
   }

   #about-us p {
      color: #f9f9eb;
      letter-spacing: 2px;
   }

   /* gallery- medium screens */

   #gallery-pics {
      margin-top: 150px;
      column-count: 2;
      column-gap: 0;
   }

   /* form- medium screen  */

   #form-backing{
      top:10%;
   }
   
   #contact {
      margin: 150px 0 -30px 0;
   }
}

/* for large screens 1020px and above */

@media screen and (min-width:1020px) {

   #large-nav {
      display: inline-block;
   }

   #navbar {
      font-size: 25px;
      position: absolute;
      bottom: 8px;
      right: 0;
      margin-right: 40px;

   }

   #navbar li {
      float: left;
      list-style-type: none;
      margin-left: 40px;
      color: ivory;
   }

   #navbar a {
      color: #f9f9eb;
   }

   #menu {
      display: none;
   }

   #logo {
      margin-top: 20px;
   }

   /* about us section resposiveness for large screens */

   .about-section {
      margin-top: 98px;
   }

   #hero-image {
      height: 600px;
      width: 100%;
      background: url("../images/hero-image.jpg") no-repeat center center;
      background-size: cover;
      position: relative;
   }

   #about-us {
      margin-top: 80px;
   }

   #about-us h2 {
      color: #f9f9eb;
      padding: 10px;
      font-size: 35px;
   }

   #cover-color {
      background-color: rgba(0, 0, 0, 0.2);
      width: inherit;
      height: inherit;
   }

   #about-us p {
      color: #f9f9eb;
      letter-spacing: 2px;
      font-size: 1.3rem;
   }

   /* gallery- large screens*/

   #gallery-pics {
      margin-top: 98px;
      column-count: 3;
      column-gap: 0;
   }

   /* form- medium screen  */

   #contact {
      margin: 100px 0 -30px 0;
   }
}